@charset "utf-8";

html {
    /* 背景色 */
    background-color: whitesmoke;
}

body {
    margin: 0;

    /* フォント */
    font-family: sans-serif;
}

main {
    padding-left: 7px;
}

footer {
    /* 右下に固定 */
    bottom: 0;
    right: 0;
    padding-right: 15px;

    /* 絶対位置 */
    position: absolute;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 13px;
    padding-bottom: 13px;

    /* フォント */
    font-family: cursive;
    /* 中央に固定 */
    text-align: center;
    /* 文字色 */
    color: whitesmoke;
    /* 背景色 */
    background-color: rgb(61, 62, 139);
    /* 下の影 */
    box-shadow: 0 0 10px grey;
}

h2 {
    /* 中央に固定 */
    text-align: center;
}

p {
    /* 中央に固定 */
    text-align: center;
}